<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WcfService2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--For local use!-->
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=c:\users\sree vishnu\documents\visual studio 2013\Projects\WcfService2\WcfService2\App_Data\Database1.mdf;Integrated Security=SSPI;User Instance=True" name="dbString" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>



  <applicationSettings>
    <WcfService2.Properties.Settings>
      <setting name="WcfService2_WebReference_LinuxImageServiceService"
       serializeAs="String">
        <value>http://170.224.168.108:8080/LinuxImageService/LinuxImageServiceService</value>
      </setting>
    </WcfService2.Properties.Settings>
  </applicationSettings>
</configuration>
